*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
._thumbnail{
    width: 200px;
    height: 150px;
}
.box{
    margin-top: 30px;
    display: flex;
    height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1px;
}
.box img{
    margin: 5px auto;
}