*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
._thumbnail{
    display: block;
    max-width: 100%;
    height: auto;
}
.box{
    margin-top: 30px;
    display: flex;
    height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1px;
}
.box img{
    margin: 5px auto;
    position: relative;
}

.box-img-temp{
    width: 200px;
    height: 150px;
    
}
.box-img-temp i{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.box-img-temp:hover{
    filter: grayscale()
}
.box-img-temp:hover i{
   display: block;
}
.mywrapper{
    margin: 10vh auto;
}